.main-page-header {
  margin-top: 23px;
}
.top-header-row {
  text-align: center;
}
.create-company-btn {
  border-radius: 18px;
}
.logo-image {
  width: 140px;
  height: 40px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.logo-container-text {
  margin-right: 10px;
}
.registration-btn {
  color: #ffc107;
}
.main-menu-tabs {
  margin-top: 23px;
  margin-bottom: 32px;
}
.nav-link {
  color: black;
}
.become-voluntear {
  position: relative;
}
.become-voluntear-image {
  position: relative;
  right: 15%;
  padding-right: 0px;
  width: 465px;
  height: 698px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  z-index: 1;
  display: inline-block;
}
.become-voluntear-image-container {
  text-align: right;
  width: 845px;
  height: 861px;
  background-color: #f0f3f6;
  z-index: 1;
}
.become-voluntear-button-wrapper {
  width: 235px;
}

.become-voluntear-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.become-voluntear-text {
  background-color: white;
  position: absolute;
  top: 30%;
  right: 50%;
  width: 500px;
  height: 300px;
  z-index: 2;
}

.three-photo-image {
  width: 600px;
  height: 550px;
}

.childrens-future-container {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.childrens-future-text {
  padding-top: 15%;
  padding-left: 50px;
  text-align: left;
}

.yello-devider {
  width: 86px;
  border-bottom: #ffc107 solid 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.vertical-devider {
  margin-top: 120px;
  border-right: #ffc107 solid 2px;
  height: 50px;
}

.statistic-section-wrapper {
  background-color: #c4c4c4;
  min-width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sub-statistic-section {
  width: 300px;
  flex-direction: column;
  text-align: center;
}

.sub-statistic-section-header {
  height: 64px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #181e4b;
}

.sub-statistic-section-text {
  height: 78px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #181e4b;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.how-we-help-header {
  width: 621px;
  height: 64px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: "salt" on, "liga" off;
  color: #181e4b;
}

.img-icon {
  width: 40px;
  height: 40px;
}

.how-we-help-block {
  display: flex;
  flex-direction: row;
}

.how-we-help-block-img {
  margin-right: 20px;
}
.how-we-help-block-header {
  width: 428px;
  height: 32px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "salt" on, "liga" off;
  color: #181e4b;
}

.how-we-help-block-content {
  width: 428px;
  height: 78px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "salt" on, "liga" off;
  color: #181e4b;
}

.more-about-help-button {
  color: #f1a501;
  outline: none;
  text-decoration: none;
}

.more-button-block {
  display: flex;
  flex-direction: row;
}

.more-button-line {
  width: 25px;
  border-top: #ffc107 solid 2px;
  margin-top: 45px;
}

.theatre-wrapper {
  position: relative;
  background-color: #c4c4c4;
  width: 100%;
  height: 400px;
}

.theatre-header {
  width: 619px;
  height: 50px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #181e4b;
}

.theatre-text {
  width: 609px;
  height: 112px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #181e4b;
}

.theatre-wrapper {
  display: flex;
  flex-direction: row;
}

.theatre-picture {
  width: 400px;
  height: 300px;
  position: absolute;
  right: 5%;
  bottom: 1%;
  height: 406;
}

.childrens-of-us-help-button {
  color: white;
  border-radius: 18px;
}

.childrens-of-us-img {
  width: 200px;
  height: 300px;
}

.childrens-of-us-content-card {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.more-about-help-buttons {
  width: 150px;
}

.childrens-of-us-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 550px;
}

.news-and-events-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  color: #181e4b;
}

.news-and-events-card {
  padding: 15px;
  text-align: left;
  height: 500px;
  width: 360px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.news-and-events-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #181e4b;
}

.news-and-events-description {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #181e4b;
}

.news-and-events-date {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #717171;
}

.news-and-events-cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.footer-wrapper {
  width: 100%;
  height: 350px;
  background-color: #f0f3f6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.footer-links-tabs {
  display: flex;
  flex-direction: column;
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  outline: none;
  text-decoration: none;
  color: #181E4B;
}

.footer-contacts-image {
  margin-right: 10px;
}

.childrens-card-body {
  width: 80%;
  position: absolute !important;
  margin: auto;
  left: 28px;
  top: 190px;
  border-radius: 7px;
  z-index: 5;
  text-align: center;
  background-color: white;
}

.image-childrens {
  z-index: 2;
}

.card {
  position: relative;
  width: 100px
}

.card-title-childrens {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  color: #181E4B;
}

.card-title-years {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #181E4B;
  mix-blend-mode: normal;
  opacity: 0.7;
  text-align: center;
}

.card-text-childrens {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #181E4B;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.details-link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #F1A501;
  outline: none;
  text-decoration: none;
}

.help-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F1A501;
  border-radius: 100px;
  height: 40px;
  vertical-align: center;
}

.stretched-help-link {
  color: white !important;
  outline: none;
  text-decoration: none;
}

.projects-card {
  width: 550px;
  height: 380px;
}

.projects-card-sub-title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #181E4B;
  opacity: 0.5;
}

.projects-card-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #181E4B;
}

.projects-card-text {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #181E4B;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.projects-card-text-devider { 
  padding-top: 50px;
  border-bottom: 3px solid #F1A501;
}

.create-company-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 44px;
  border: 1px solid #F1A501;
  border-radius: 100px
}

.create-company-link {
  color: #F1A501;
  outline: none;
  text-decoration: none;
}

.registration-link {
  color: #F1A501; 
}

.projects-section {
 min-height: 950px;
}

.projects-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gather-on-project-title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #181E4B;
  opacity: 0.6;
}

.project-status {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #181E4B;
  opacity: 0.2;
}

.col-projects-card {
  margin-bottom: 30px;
}