.yello-devider {
    width: 86px;
    border-bottom: #ffc107 solid 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.join-us-header {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    color: #181E4B;
}

.join-us-text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #181E4B;
}

.join-us-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.join-us-img {
    border-bottom-left-radius: 180px;
}

.about-us-img-wrapper {
    width: 850px;
    background-color: #F0F3F6;
    border-top-right-radius: 180px;
    display: flex;
    justify-content: flex-start;
}

.about-us-text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #181E4B;
}

.about-us-all-text-content {
   width: 575px;
   height: 500px;
}

.about-us-section {
    position: relative;
}

.about-us-wrapper {
    position: absolute;
    right: 200px;
}

.five-principles-text-el {
    position: relative;
    margin-bottom: 100px;
}

.five-principles-text-el-header {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #181E4B;
    margin-bottom: 7px;
}

.five-principles-text-el-text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #181E4B;
}

.five-principles-text-el-picture-wrapper {
  position: relative;
  z-index: 1;
}

.five-principles-text-el-all-text-wrapper {
    position: absolute;
    left: 50px;
    top: 30px;
    z-index: 2;
}

/* ourt team section */
.our-team-item-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #181E4B;
}

.our-team-item-subtitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #181E4B;
}

.our-team-item-text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #181E4B;
}

.our-team-item-main-wrapper {
    display: flex;
    flex-direction: row;
}

.our-team-item-text-wrapper {
    margin-left: 20px;
    max-width: 285px;
}

.our-team-img {
    border-radius: 8px;
}

/* publication about us */
.more-about-help-button {
    color: #f1a501;
    outline: none;
    text-decoration: none;
}

.publications-about-us {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 363px;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.publications-about-us-title {
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #181E4B;
}

.publications-about-us-container {
    background-image: url("./aboutUsImages/Rectangle 3.png");
    background-repeat: no-repeat;
    width: 100%;
    background-position-x: 130px;
}

.publications-about-us-read-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F1A501;
}

.publications-about-us-read-link-wrapper {
    margin-bottom: 15px;
}

/* partners */

.partners-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #202124;
    margin-bottom: 20px;
}

.partners-text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #202124;
}

.partners-logo-wrapper {
    display: flex;
    align-items: top;
    justify-content: center;
    margin-bottom: 20px;
}